body,
html,
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    height: 57vh;
    width: 22%;
    background-color: #d1b3c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    margin: 15px;
    text-align: center;
    box-shadow: 10px 10px 6px 7px #b392ac;
    position: relative;
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-15px);
}

.cardtitle {
    font-size: 2rem;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.card-img {
    width: 70%;
    height: 17rem;
    transition: 0.3s;
}

.info3 {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: 1rem auto;
    justify-content: space-around;

}

body {
    background-color: #f7d1cd;
}

.header {
    margin: 50px;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

.header {
    background-image: linear-gradient(#B98389,#B98389);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
    border-radius: 25px;
}

.header:hover {
    background-size: 100% 100%;
}

#N1:hover {
    background-color: #dde486;
}

#N2:hover .card-img {
    transform: translateY(-15px)
}

#N3:hover {
    color: rgb(255, 0, 0);
}

#N4:hover {
    background-color: #a7dcdc;
}

#N5:hover .card-img {
    transform: scale(1.5, 1.5);
}